name: GitHub Readme YouTube Cards
on:
  schedule:
    # Runs every hour, on the hour
    - cron: "0 0 * * SUN"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # Allow the job to commit to the repository
    permissions:
      contents: write
    # Run the GitHub Readme YouTube Cards action
    steps:
      - uses: cloudbyvenkat/github-readme-youtube-cards@main
        with:
          channel_id: UC8oEvoi_-x_F90oxn1CX-nQ
